{% extends "general-templates/basic.html" %}

{% block content %}
<div class="w-80 mrg-auto wrap">
    
    
        <div id="forum" class="w-70 left-block" >
        
        <a href="forum/d/0001"><div class="discussion">
            <div class="head">
                <h3 class="w-90">Some Weaboo text</h3>
            </div>
            
            <div style="margin-right: 0;">
                <div style="display: inline-block;">
                    <div style="display: flex; flex-wrap: wrap;">
                        
                        <span class="item">19 comments</span>
                        <span class="item">Yoitz 2 hours ago</span>
                        
                        <span class="tag" style="display: inline-block; color: var(--deep-blue); background-color: orange;">first</span>
                        <span class="tag" style="display: inline-block;color: var(--clear-light); background-color: red;">second</span>
                    </div>
                </div>

                
            </div>
        </div></a>
            
        <a href="forum/d/0001"><div class="discussion">
            <div class="head">
                <h3 class="w-90">Some Weaboo text</h3>
            </div>
            
            <div style="margin-right: 0;">
                <div style="display: inline-block;">
                    <div style="display: flex; flex-wrap: wrap;">
                        
                        <span class="item">19 comments</span>
                        <span class="item">Yoitz 2 hours ago</span>
                        
                        <span class="tag" style="display: inline-block; color: var(--deep-blue); background-color: orange;">first</span>
                        <span class="tag" style="display: inline-block;color: var(--clear-light); background-color: red;">second</span>
                    </div>
                </div>

                
            </div>
        </div></a>
            <a href="forum/d/0001"><div class="discussion">
            <div class="head">
                <h3 class="w-90">Some Weaboo text</h3>
            </div>
            
            <div style="margin-right: 0;">
                <div style="display: inline-block;">
                    <div style="display: flex; flex-wrap: wrap;">
                        
                        <span class="item">19 comments</span>
                        <span class="item">Yoitz 2 hours ago</span>
                        
                        <span class="tag" style="display: inline-block; color: var(--deep-blue); background-color: orange;">first</span>
                        <span class="tag" style="display: inline-block;color: var(--clear-light); background-color: red;">second</span>
                    </div>
                </div>

                
            </div>
        </div></a>
            <a href="forum/d/0001"><div class="discussion">
            <div class="head">
                <h3 class="w-90">Some Weaboo text</h3>
            </div>
            
            <div style="margin-right: 0;">
                <div style="display: inline-block;">
                    <div style="display: flex; flex-wrap: wrap;">
                        
                        <span class="item">19 comments</span>
                        <span class="item">Yoitz 2 hours ago</span>
                        
                        <span class="tag" style="display: inline-block; color: var(--deep-blue); background-color: orange;">first</span>
                        <span class="tag" style="display: inline-block;color: var(--clear-light); background-color: red;">second</span>
                    </div>
                </div>

                
            </div>
        </div></a>
            <a href="forum/d/0001"><div class="discussion">
            <div class="head">
                <h3 class="w-90">Some Weaboo text</h3>
            </div>
            
            <div style="margin-right: 0;">
                <div style="display: inline-block;">
                    <div style="display: flex; flex-wrap: wrap;">
                        
                        <span class="item">19 comments</span>
                        <span class="item">Yoitz 2 hours ago</span>
                        
                        <span class="tag" style="display: inline-block; color: var(--deep-blue); background-color: orange;">first</span>
                        <span class="tag" style="display: inline-block;color: var(--clear-light); background-color: red;">second</span>
                    </div>
                </div>

                
            </div>
        </div></a>
        
        </div>
    
    
    <div class="w-25 right-block mrg-auto" style="margin-top: 0.5em;">
        <div class="card-flex" >
            <a href="/forum/new" class="mrg-auto btn-visible btn item">Start new discussion</a>
        </div>
        
        <div class="line"></div>
        
        <div class="card-flex card w-90">
            <a href="/tags" class="btn" style="display: block; width: 100%; margin-bottom: 1rem">Tags</a>
            
            <div style="display: flex; flex-wrap: wrap;">
                
                <span class="tag btn" style="color: var(--deep-blue); background-color: orange;">first</span>
                <span class="tag btn" style="color: var(--clear-light); background-color: red;">second</span>
                <span class="tag btn" style="color: var(--clear-light); background-color: purple;">and looooooong</span>
                <span class="tag btn" style="color: var(--deep-blue); background-color: yellow;">Too many words really</span>

                
            </div>
        </div>
    </div>
    
</div>

{% endblock %}