{% extends "general-templates/basic.html" %}

{% block content %}
<div class="w-80 mrg-auto wrap">
    
    
        <div id="forum" class="w-70 left-block" >
            
            <script>
                function search(table, self){
                    let req = new XMLHttpRequest();
                    if(self.value.length > 0){
                        req.open('get', '/forum/search/'+self.value, true);
                    }else{
                        req.open('get', '/forum/search', true);
                    }
                    req.onload = function(){
                        let tagl = document.getElementById("disc-list");
                        if (this.status == 200){
                            let res = JSON.parse(this.response);
                            console.log(`<Oxygen> (GET) from ${table}: ${res} ${typeof(res)}`);
                            if( res.status == false){
                                tagl.innerHTML = "<h1>No search results</h1>";
                            }else{
                                tagl.innerHTML = "";
                                for(let i in res){
                                    tagl.innerHTML +=  res[i];
                                    console.log(res[i]);
                                }
                            }
                        }

                    };
                    req.send();
                }
            </script>
    
    
            <nav method="GET" class="search mrg-auto" style="display: inline-block; margin-left:0; margin-bottom: 0.5rem; min-width: 300px;">
                    <div class="mrg-auto" style="display: inline-block; min-width: 300px">
                        <h1>Discussions on oxygen</h1>
                    </div>
                    <input class="mrg-auto" onchange="search('discussions', this)" onkeyup="search('discussions', this)" type="text" name="tag-search"  placeholder="search discussion by header">
            </nav> 
    

            <nav id="disc-list">
            {%for discuss in forum %}
            <a href="forum/d/{{discuss['id']}}"><div class="discussion">
                <div class="head">
                    <h3 class="w-90">{{discuss['header']}}</h3>
                </div>

                <div style="margin-right: 0;">
                    <div style="display: inline-block;">
                        <div style="display: flex; flex-wrap: wrap;">

                            <span class="item">{{ discuss['answers'] }} comments</span>
                            <span class="item">author: {{ discuss['author'].login }} last update: {{ discuss['last_update'] }}</span>

                            {%for i in discuss['tags']%}
                                <span class="tag" style="color:{{i['color']}}; background-color:{{i['bg_color']}}">{{i['header']}}</span>
                            {%endfor%}
                        </div>
                    </div>


                </div>
            </div></a>
            {% endfor %}
            </nav>
        
        </div>
    
    
    <div class="w-25 right-block mrg-auto" style="margin-top: 0.5em;">
        <div class="card-flex" >
            <a href="/forum/new" class="mrg-auto btn-visible btn item">Start new discussion</a>
        </div>
        
        <div class="line"></div>
        
        <div class="card-flex card w-90">
            <a href="/tags" class="btn" style="underline; display: block; width: 100%; margin-bottom: 1rem" title="Add new tags">Tags +</a>
            
            <div style="display: flex; flex-wrap: wrap;">
                {%for i in tags%}
                    <span class="tag" style="color:{{i['color']}}; background-color:{{i['bg_color']}}">{{i['header']}}</span>
                {%endfor%}
            </div>
        </div>
    </div>
    
</div>

{% endblock %}