<nav class="popup-parent" >    
    <a href="\me" class="user-head">
        <li class="btn item">
            <div class="wrap">
                <img class="img-1 item nohover" src="{{adress}}/{{attr["user-avatar"]}}">
                <div class="item nohover">{{attr["username"]}}</div>
            </div>
        </li>
    </a>
    
    <div class="popup">
        <a href="/logout"> 
            <li class="btn-visible btn item" >
                Log out
            </li> 
        </a>
    </div>
</nav>




