<nav class="popup-parent" >    
    <a href="\me" class="user-head">
        <li class="btn item" style="padding-left: 1rem; padding-right: 1rem;">
            <div class=".wrap">
                <img class="img-1 item" style="z-index: 100" src={{attr["user-avatar"]}}>
                <div class="item nohover">{{attr["username"]}}</div>
            </div>
        </li>
    </a>
    
    <div class="popup">
        <a href="/logout"> 
            <li class="btn-visible btn item" >
                Logout
            </li> 
        </a>
    </div>
</nav>




