:root{
    --black: #111;
    --white: #FFF;
    
    --deep-dark: #111215;
    --mid-dark: #212225;
    --light-dark: #313235;
    
    --clear-light: #F5FFFF;
    
    
    --deep-blue: #14191f;
    --dark-blue: #1b2028;
    --light-blue: #5f7ea6;
    --ultralight-blue: #6c7d93;
    
}
*{transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out !important; font-family: 'Jost', Sans-Serif;}
input::-moz-focus-inner { border:0; padding:0 }
body{
    margin: 0;
    padding: 0;
    background-color: var(--dark-blue);
    font-family: 'Jost';
    font-weight: 700;
    word-break: break-all;
}

h1, h2, h3, h4, h5, h6{
    color: var(--light-blue);
}

a{
    text-decoration: none;
    color: var(--light-blue);
}

a:hover{
    color: var(--clear-light);
}

fieldset{
    color: var(--light-blue);
    border: 0.2rem solid var(--light-blue);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem !important;
}

fieldset input{
    font-size: 1rem !important;
    margin-bottom: 1rem !important;
}

fieldset legend{
    padding: 0.5rem;
}

.line{
    background-color: var(--light-blue); 
    border: none;
    height: 1px;
    width: 100%;
    display: block;
}

#content{
    min-height: 80vh;
}

.btn{
    cursor: pointer;
    border-radius: 0.2rem;
}
.btn *{
    cursor: pointer;
}

.btn-visible{
    background-color: var(--light-blue);
    color: var(--deep-blue) !important;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.btn-visible:hover{
    background-color: var(--dark-blue);
    color: var(--light-blue) !important;
}

.bg-dark{
    background-color: var(--deep-blue);
    color: var(--clear-light);
}

.bg-dark *{
    color: var(--clear-light);
}

.linear-menu{
    display: inline-flex;
    height: 100%;
    margin: auto;
    margin-right: 0;
}

.linear-menu .item{
    display: inline-block;
    padding: 0.5rem;
    color: var(--light-blue);
}

.linear-menu .item:hover{
    background-color: var(--deep-dark);
}

.active{
      color: var(--clear-light) !important;  
}

.fixed-top{
    position: sticky;
    top: 0;
}

.user-block *{
    display: inline-block;
    margin: auto;
}

.img-1{
    padding: 0px !important;
    margin: auto;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--light-blue);
    background-color: red;
}

.text-1{
    font-size: 0.5rem;
}

.pressed-bottom{
    margin-top: 3em;
    position: relative;
    width: 100%;
    display: block;
    bottom: 0;
}
.footer{
    min-height: 20vh;
    padding-top: 1vh;
    color: var(--light-blue);
}
.footer *{
    color: var(--light-blue);
}

.copyright{
    color: var(--light-blue);
    font-size: 11pt;
}

.brand{
    display: inline-block;
    padding: 0.5em;
}

.brand svg{
    height: 1.7rem;
    transition: fill .25s ease-in-out !important;
}

.brand svg:hover{
    fill: var(--light-blue);
}

.brand-extra svg{
    height: 3rem;
}

.header{
    margin: 0;
    z-index: 9999;
}
.header div{
    display: flex;
    flex-wrap: wrap;
}
.container{
    height: 100%;
}

.mrg-auto{
    margin: auto;
}
.mrg-vertical-auto{
    margin-top: auto;
    margin-bottom: auto;
}

.head-text{
    font-size: 2.4rem;
    display: inline-block;
    font-weight: 700;
    color: var(--ultralight-blue);
}
.content{
    display: block;
    padding: 1.2rem;
}

.linear-btn{
    padding: 0.5rem;
    font-size: 20px;
    text-align: center;
    border-radius: 0.2rem;
    border: none;
    font-family: 'Jost';
    font-weight: 700;
    color: var(--light-blue);
    background-color: var(--deep-blue);
    box-shadow: 0 0 0 0.2rem var(--dark-blue);
    min-width: 200px;
    margin-bottom: 1em;
    box-sizing: content-box;
}

.linear-btn:hover{
    color: var(--deep-blue);
    background-color: var(--light-blue);
    box-shadow: 0 0 0 0.2rem var(--deep-blue);
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

.right-block{
    margin-right: 0;
    display: inline-block;
    min-width: 300px;
}

.left-block{
    min-width: 300px;
    margin-right: 0;
    display: inline-block;
}

.linear-input{
    display: block;
    padding: 0.5rem;
    font-size: 20px;
    text-align: center;
    border-radius: 0.2rem;
    border: none;
    font-family: 'Jost';
    font-weight: 700;
    color: var(--light-blue);
    background-color: var(--deep-blue);
    box-shadow: 0 0 0 0.2rem var(--dark-blue);
    margin-bottom: 1em;
    min-width: 200px;
}

.linear-input:focus{
    box-shadow: 0 0 0 0.2rem var(--light-blue);
}

.card{
    min-width: 300px;
    display: block;
    border-radius: 0.2rem;
    /*box-shadow: 0 0 0 0.2rem var(--light-blue)*/
    background-color: var(--deep-blue);
}

.card-flex{
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.right-block{
    display: block;
    background-color: inherit;
}

.right-block .btn-visible:hover{
    background-color: var(--deep-blue);
}

.right-block > .card{
    background-color: inherit;
    padding: 1em;
}

.popup-parent{
    cursor: pointer;
}

.user-head > .item:hover{
    background-color: inherit !important;
}

.nohover{
    background-color: inherit !important;
}

.popup-parent .popup{
    display: none;
    position: absolute;
    padding: 1em;
    padding-top: 0.5rem;
    border-radius: 0 0 0.2em 0.2em;
    padding-left: 1rem;
    padding-right: 1rem;
    /*background-color: var(--deep-blue);*/
}

.popup .btn{
    box-shadow: 0 0 0.5rem 0.5rem var(--deep-blue);
}

.popup-parent .popup:before{
    animation-duration: 5s;
    animation-name: opacity-out;
}

.popup-parent:hover .popup{
    display: block;
    animation-duration: 0.5s;
    animation-name: opacity-in;

}

.discussion{
    background-color: var(--dark-blue);
    border-radius: 0.2rem;
    min-height: 50px;
    padding: 0.5rem;
    padding-top: 0;
    padding-bottom: 1rem;
    border-bottom: 5px solid var(--deep-blue);
    cursor: pointer;
}
.discussion:hover{
    background-color: var(--deep-blue);
}

.statistic{
    display: inline-block;
    list-style: none;
    margin-right: 0px;
}

.discussion .item{
    display: inline-block;
    font-size: 0.7rem;
    border-radius: 1.5rem;
    padding: 0.7rem;
    margin: 0.1rem;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    cursor: pointer;
    color: var(--light-blue);
}

.discussion .tag{
    margin: 0.1rem;
    margin-left: 0.2rem;
}

.discussion .head{
    display: inline-block;
    font-size: 1rem;
    width: 100%;
    font-weight: 400;
    padding: 0;
    color: var(--clear-light);
}

.discussion .head h3{
    display: inline-block;
    font-weight: 400;
    color: var(--clear-light);
}

.tag{
    display: inline-block;
    font-size: 0.7rem;
    border-radius: 1.5rem;
    text-align: center;
    padding: 0.7rem;
    margin: 0.2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    cursor: pointer;
}

.img-huge .img-1{
    width: 10rem;
    height: 10rem;
    box-shadow: 0 0 1rem 1rem var(--deep-blue);
    border-radius: 100%;
    border-spacing: 0;
    border: 10px solid var(--light-blue);
    
}

.img-huge {
    font-size: 2rem;
}

img:hover{
    border-color: var(--deep-blue) !important;
}

.img-huge div{
    height: 100%;
    margin-top: auto;
    margin-left: 1rem;
}

.tag:hover{
    box-shadow: 0 0 1rem 0.5rem var(--deep-blue);
    z-index: 1000;
}

#tag-list .tag{
    font-size: 110% !important;
}

.search input{
    min-width: 300px;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--deep-blue);
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    height: 2.2rem;
    color: var(--light-blue);   
}

.search input:focus{
    box-shadow: 0 0 0 0.2rem var(--light-blue);
}

.text-edit{
    background-color: var(--deep-blue);
    color: var(--clear-light);
    border: none;
    margin-top: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    min-width: 300px;
    max-width: 100%;
    min-height: 100px;
    font-family: Open Sans;
}

.text-edit a{
    text-decoration: underline;
}

.hidden{
    font-size: 0.7rem;
    color: var(--ultralight-blue);
}

.w-100{
    width: 100%;
}

.w-90{
    width: 90%;
}
.w-80{
    width: 80%;
}

.w-70{
    width: 70%;
}

.w-60{
    width: 60%;
}

.w-50{
    width: 50%;
}

.w-40{
    width: 40%;
}
.w-45{
    width: 45%;
}

.w-30{
    width: 30%;
}

.w-25{
    width: 25%;
}

.w-20{
    width: 20%;
}

.svg-light{
    fill: var(--clear-light);
}

input[type="radio"] {
  /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  /* create custom radiobutton appearance */
    display: inline-block;
    width: 1rem;
    height: 1rem;
  /* background-color only for content */
    margin-top: auto;
    border: 0.1rem solid var(--light-blue);
    box-shadow: 0 0 0 .2rem var(--deep-blue) inset;
    background-color: var(--deep-blue);
    border-radius: 1rem;
}

label, label input{
    cursor: pointer;
}

.message{
    display: none;
}


/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: var(--light-blue);
}


@keyframes opacity-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

@keyframes opacity-out {
  from {
    opacity: 100;
  }

  to {
    opacity: 0;
  }
}